language: node_js

env:
  # Fix Windows build never ending in Travis CI
  # https://travis-ci.community/t/timeout-after-build-finished-and-succeeded/1336
  - YARN_GPG=no

os:
  - linux
  - osx
  - windows

node_js:
- '12'
- '14'
- '16'

git:
  depth: 1

branches:
  only:
  - master

script:
  npm run build && npm test
